:root {
--pink-light: #fc5f6c;
--pink-dark: #e54654;
--pink-title: #f7505e;
--grey : #696969;
}
body {
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: var(--pink-title);
  font-size: 1.8rem;
  font-weight: 700;
}
p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--grey);
}