/* Kleuren definiëren */
:root {

}

/* Basisinstellingen definiëren */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

input {
  all: unset;
}

body {
  font-family: 'Muli', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  overflow-x: hidden;
  color: white;
}

/* Header */
.background-rose {
  background-color: #e54654;
}

.background-pink {
  background-color: #f7505e;
}

header nav, header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  text-transform: uppercase;
  font-weight: 600;
}


/* Container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


